In [134]:
import pandas as pd

# Read Data

In [135]:
mydata = pd.read_csv('train_E6oV3lV.csv')

In [136]:
mydata.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [137]:
mydata.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

In [138]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
id       31962 non-null int64
label    31962 non-null int64
tweet    31962 non-null object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

# Basic Feature Extraction

## Number of Words
One of the most basic features we can extract is the number of words in each tweet. The basic intuition behind this is that generally, the negative sentiments contain a lesser amount of words than the positive ones.

In [139]:
mydata['word_count'] = mydata['tweet'].apply(lambda x: len(str(x).split(" ")))

In [140]:
mydata.head()

   id  label                                              tweet  word_count
0   1      0   @user when a father is dysfunctional and is s...          21
1   2      0  @user @user thanks for #lyft credit i can't us...          22
2   3      0                                bihday your majesty           5
3   4      0  #model   i love u take with u all the time in ...          17
4   5      0             factsguide: society now    #motivation           8

## Number of characters
This feature is also based on the previous feature intuition. Here, we calculate the number of characters in each tweet. This is done by calculating the length of the tweet.

In [141]:
mydata['char_count'] = mydata['tweet'].str.len()

In [142]:
mydata.head()

,id,label,tweet,word_count,char_count
0,1,0,@user when a father is dysfunctional and is s...,21,102
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122
2,3,0,bihday your majesty,5,21
3,4,0,#model i love u take with u all the time in ...,17,86
4,5,0,factsguide: society now #motivation,8,39

## Average Word Length
We will also extract another feature which will calculate the average word length of each tweet. This can also potentially help us in improving our model.

Here, we simply take the sum of the length of all the words and divide it by the total length of the tweet:

In [143]:
def avg_word(sents):
    myword = sents.split()
    return (sum(len(word) for word in myword)/len(myword))

mydata['avg_word'] = mydata['tweet'].apply(lambda x: avg_word(x))

In [144]:
mydata.head()

,id,label,tweet,word_count,char_count,avg_word
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789
2,3,0,bihday your majesty,5,21,5.666667
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571
4,5,0,factsguide: society now #motivation,8,39,8.000000

## Number of stopwords
Generally, while solving an NLP problem, the first thing we do is to remove the stopwords. But sometimes calculating the number of stopwords can also give us some extra information which we might have been losing before.

Here, we have imported stopwords from NLTK, which is a basic NLP library in python.

In [145]:
from nltk.corpus import stopwords

mystop = stopwords.words('english')

In [146]:
mydata['stopword'] = mydata['tweet'].apply(lambda x: len([x for x in x.split() if x in mystop]))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5
2,3,0,bihday your majesty,5,21,5.666667,1
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5
4,5,0,factsguide: society now #motivation,8,39,8.000000,1

## Number of special characters
One more interesting feature which we can extract from a tweet is calculating the number of hashtags or mentions present in it. This also helps in extracting extra information from our text data.

Here, we make use of the ‘starts with’ function because hashtags (or mentions) always appear at the beginning of a word.

In [147]:
mydata['hastags'] = mydata['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3
2,3,0,bihday your majesty,5,21,5.666667,1,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1

## Number of numerics
Just like we calculated the number of words, we can also calculate the number of numerics which are present in the tweets. It does not have a lot of use in our example, but this is still a useful feature that should be run while doing similar exercises.

In [148]:
mydata['numeric'] = mydata['tweet'].apply(lambda x : len([x for x in x.split() if x.isdigit()]))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0

## Number of Uppercase words
Anger or rage is quite often expressed by writing in UPPERCASE words which makes this a necessary operation to identify those words.

In [149]:
mydata['uppercase'] = mydata['tweet'].apply(lambda x : len([x for x in x.split() if x.isupper()]))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,@user when a father is dysfunctional and is s...,21,102,4.555556,10,1,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,#model i love u take with u all the time in ...,17,86,4.928571,5,1,0,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0,0

# Basic Pre-processing

cleaning the data in order to obtain better features. We will achieve this by doing some of the basic pre-processing steps on our training data.

## Lower case
The first pre-processing step which we will do is transform our tweets into lower case. This avoids having multiple copies of the same words. For example, while calculating the word count, ‘Analytics’ and ‘analytics’ will be taken as different words.

In [150]:
mydata['tweet'] = mydata['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,@user when a father is dysfunctional and is so...,21,102,4.555556,10,1,0,0
1,2,0,@user @user thanks for #lyft credit i can't us...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,#model i love u take with u all the time in ur...,17,86,4.928571,5,1,0,0
4,5,0,factsguide: society now #motivation,8,39,8.000000,1,1,0,0

## Removing Punctuation

The next step is to remove punctuation, as it doesn’t add any extra information while treating text data. Therefore removing all instances of it will help us reduce the size of the training data.

In [151]:
mydata['tweet'] = mydata['tweet'].str.replace('[^\w\s]','')
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,user when a father is dysfunctional and is so ...,21,102,4.555556,10,1,0,0
1,2,0,user user thanks for lyft credit i cant use ca...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,model i love u take with u all the time in urð...,17,86,4.928571,5,1,0,0
4,5,0,factsguide society now motivation,8,39,8.000000,1,1,0,0

## Removal of Stop Words
As we discussed earlier, stop words (or commonly occurring words) should be removed from the text data. For this purpose, we can either create a list of stopwords ourselves or we can use predefined libraries.

In [152]:
from nltk.corpus import stopwords
myStop = stopwords.words('english')

In [153]:
print("Number of stopwords : ", len(myStop), '\n')
print(myStop)

Number of stopwords :  179

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [154]:
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,user when a father is dysfunctional and is so ...,21,102,4.555556,10,1,0,0
1,2,0,user user thanks for lyft credit i cant use ca...,22,122,5.315789,5,3,0,0
2,3,0,bihday your majesty,5,21,5.666667,1,0,0,0
3,4,0,model i love u take with u all the time in urð...,17,86,4.928571,5,1,0,0
4,5,0,factsguide society now motivation,8,39,8.000000,1,1,0,0

In [155]:
mydata['tweet'] = mydata['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in myStop))
mydata['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [156]:
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,user father dysfunctional selfish drags kids d...,21,102,4.555556,10,1,0,0
1,2,0,user user thanks lyft credit cant use cause do...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model love u take u time urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

## Remove Common word
Previously, we just removed commonly occurring words in a general sense. We can also remove commonly occurring words from our text data First, let’s check the 10 most frequently occurring words in our text data then take call to remove or retain.

In [157]:
freqword = pd.Series(' '.join(mydata['tweet']).split()).value_counts()[:10]
print(freqword)

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [158]:
freqword = list(freqword.index)

In [159]:
mydata['tweet'] = mydata['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freqword))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,father dysfunctional selfish drags kids dysfun...,21,102,4.555556,10,1,0,0
1,2,0,thanks lyft credit cant use cause dont offer w...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model take urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

## Rare words removal
Similarly, just as we removed the most common words, this time let’s remove rarely occurring words from the text. Because they’re so rare, the association between them and other words is dominated by noise. You can replace rare words with a more general form and then this will have higher counts

In [160]:
Rfreq = pd.Series(' '.join(mydata['tweet']).split()).value_counts()[-10:]
print(Rfreq)

ebola             1
ssnaddresshome    1
cay               1
careergirl        1
bullets           1
billyocean        1
saveðbut          1
fallujah          1
nailsinc          1
chihuahuastyle    1
dtype: int64

In [161]:
Rfreq = list(Rfreq.index)
mydata['tweet'] = mydata['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in Rfreq))
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,father dysfunctional selfish drags kids dysfun...,21,102,4.555556,10,1,0,0
1,2,0,thanks lyft credit cant use cause dont offer w...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model take urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0

- **All these pre-processing steps are essential and help us in reducing our vocabulary clutter so that the features produced in the end are more effective.**

## Spelling correction
We’ve all seen tweets with a plethora of spelling mistakes. Our timelines are often filled with hastly sent tweets that are barely legible at times.

In that regard, spelling correction is a useful pre-processing step because this also will help us in reducing multiple copies of words. For example, “Analytics” and “analytcs” will be treated as different words even if they are used in the same sense.

To achieve this we will use the **textblob library**. If you are not familiar with it, you can check my previous article on ‘NLP for beginners using textblob’.

In [162]:
!pip install -U textblob

Requirement already up-to-date: textblob in c:\programdata\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied, skipping upgrade: six in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)

In [163]:
!python -m textblob.download_corpora

Finished.

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package conll2000 to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package conll2000 is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\Ankush\AppData\Roaming\nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

In [164]:
from textblob import TextBlob

In [165]:
mydata['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

## Tokenization
Tokenization refers to dividing the text into a sequence of words or sentences. In our example, we have used the textblob library to first transform our tweets into a blob and then converted them into a series of words.

In [166]:
tblob = TextBlob(mydata['tweet'][1])

In [167]:
tblob.detect_language()

'en'

In [168]:
tblob.sentences

[Sentence("thanks lyft credit cant use cause dont offer wheelchair vans pdx disapointed getthanked")]

In [169]:
for sen in tblob.sentences:
    print(sen)

thanks lyft credit cant use cause dont offer wheelchair vans pdx disapointed getthanked

In [170]:
tblob.words

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [171]:
# Tokanize in 1 line with the help of textblob

TextBlob(mydata['tweet'][1]).words

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

## Stemming
Stemming refers to the removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach. For this purpose, we will use PorterStemmer from the NLTK library.

In [172]:
from nltk.stem import PorterStemmer

st = PorterStemmer()

In [173]:
mydata['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [174]:
mydata.head()

,id,label,tweet,word_count,char_count,avg_word,stopword,hastags,numeric,uppercase
0,1,0,father dysfunctional selfish drags kids dysfun...,21,102,4.555556,10,1,0,0
1,2,0,thanks lyft credit cant use cause dont offer w...,22,122,5.315789,5,3,0,0
2,3,0,bihday majesty,5,21,5.666667,1,0,0,0
3,4,0,model take urð ðððð ððð,17,86,4.928571,5,1,0,0
4,5,0,factsguide society motivation,8,39,8.000000,1,1,0,0